* {
    box-sizing: border-box;
}
.antraste {
  display: flex;
  justify-content: center;
  font-style: italic;
}
.juosta {
    display: flex;
    justify-content: center;
    background: white;
    border: 1px solid white;
}
.diena {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(226, 223, 223);
    padding: 0.7em;
    border-right: 2px solid white;
    width: 14%;
}
.kalendorius {
    display: flex;
    justify-content:center;
    background: white;
}
.tusti {
    display: flex;
    flex-direction:row;
    background: rgb(241, 236, 236);
    padding: 3.5em;
    border-right: 2px solid rgb(241, 236, 236);
    width: 14%;
}
.pilni {
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
    background: rgb(213, 211, 207);
    border-right: 2px solid white;
    width: 14%;
    padding-bottom: 6em;
    border-top: 2px solid white;
}